{
  "openapi": "3.1.0",
  "info": {
    "title": "HidePages API",
    "description": "Programmatic access to the HidePages platform: pages, campaigns, domains, funnel steps, A/B tests, conversion integrations and analytics — everything the panel does, over REST and JSON.\n\n## Authenticating\n\nSend an API key as the `X-API-Key` header. A key belongs to an account and works while that account holds an active or past-due subscription. Keys are issued in the panel or with the create-key endpoint, shown once, and stored only as a hash.\n\n## What a caller can reach\n\nA workspace is the dataset of its owner. Lists are scoped to the caller's active workspace, and a single resource is reachable when the caller owns the account it belongs to, or is a member of its workspace holding a sufficient level on that kind of resource — view to read, edit to write.\n\nAsking for a resource the caller cannot reach answers **404, never 403** — a 403 would confirm that the id exists.\n\n## Errors\n\nEvery failure answers an object with a single `error` member holding a code, a message, an optional field and a timestamp. Switch on the code; the message is for people and its wording may change. The field names the offending request field when the failure is about one. A 503 carries a `Retry-After` header.\n\n## Lists\n\nCollections answer a `data` array alongside a `pagination` object. Page numbers are 1-based and the page size is clamped to a maximum. Listing API keys is the one exception: it answers a bare array, because a caller holds only a handful of keys.\n\n## Pages\n\nPages are authored in the current editor's content shape, and only that one: `settings.version` is `2`. Pages have a published row and a working draft. A PATCH writes the draft, and both a GET and the PATCH's own answer return the draft merged over the published row. Publishing promotes one to the other; until it runs visitors keep getting the published content. A publish reports `propagation`: whether every visitor-facing cache has the new version yet.\n\n## Domains\n\nA domain made here is the same as one made in the panel: the platform registers it, decides which edge serves it, and hands back the DNS records to create. Add it, create the records, verify.\n\n## Analytics\n\nThe figures the dashboard shows, from the same store, per account, per campaign, per funnel step and per A/B test, plus the visit log. Never zeros in place of an error: a store that does not answer is a 503.",
    "contact": {
      "name": "HidePages",
      "url": "https://app.hidepages.test"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hidepages.com"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Workspaces, their members and their invitations."
    },
    {
      "name": "API keys",
      "description": "The credentials for this API."
    },
    {
      "name": "Folders",
      "description": "Folders for organising pages. No effect on what is served."
    },
    {
      "name": "Tags",
      "description": "Labels for pages and campaigns."
    },
    {
      "name": "Funnel steps",
      "description": "The upsell path after a campaign's main offer. A paid feature."
    },
    {
      "name": "Analytics",
      "description": "Traffic, connect rate, conversions and revenue — the same figures the dashboard shows, from the\nsame store. Read-only. Every date is `YYYY-MM-DD` and is interpreted in the account's timezone\n(`users.timezone`, defaulting to America/Sao_Paulo), both ends inclusive.\n\nFigures are scoped by **account**, not by workspace: events record the account that owns the\ncampaign. Without `campaignId` an endpoint reports on the owner of the caller's active\nworkspace, which for a staff key is the staff account itself — pass `campaignId` to read a\ncustomer's numbers.\n\nA `503 ANALYTICS_UNAVAILABLE` means the store did not answer; the figures are never replaced by\nzeros. Answers are reused for a few seconds per identical question, so a value can lag a poll\nby that much.\n"
    },
    {
      "name": "Domains",
      "description": "Customer hostnames the edge serves, and their DNS verification."
    },
    {
      "name": "A/B tests",
      "description": "Split tests over a campaign's black surface."
    },
    {
      "name": "Campaigns",
      "description": "A campaign is a cloaker: white, black and gray surfaces chosen by rules."
    },
    {
      "name": "Pages",
      "description": "Builder pages: the HTML the edge serves. Draft and published are separate."
    },
    {
      "name": "Plans",
      "description": "The subscription tiers, and the limits and features each carries."
    },
    {
      "name": "Users",
      "description": "Platform accounts. Mostly staff-only."
    },
    {
      "name": "Subscriptions",
      "description": "What an account is billed for, and its request usage."
    },
    {
      "name": "Elements",
      "description": "The shared library of builder components."
    },
    {
      "name": "Conversion integrations",
      "description": "Postback configuration for the ad and checkout platforms."
    },
    {
      "name": "Templates",
      "description": "The starting points a page can be created from. Platform-wide."
    }
  ],
  "paths": {
    "/v1/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List the workspaces the caller can work in",
        "description": "A customer's own workspace plus every one they have accepted an invite into — the\nlist the app's workspace switcher is built from. A staff key sees every workspace on\nthe deployment.\n\n`role` is the caller's own role here, `isOwn` says whether their account owns it, and\n`isActive` marks the one every other list is scoped to. `search` matches the name.\n",
        "operationId": "listWorkspaces",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseWorkspaceSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/switch": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Switch the caller's active workspace",
        "description": "Points the calling account at another workspace it belongs to. Every list in this API\nis scoped to that choice, so this is what a member of more than one workspace uses to\nmove between them — the app's switcher, as an endpoint.\n\nA workspace the caller is not in answers 404, not 403: the refusal must not confirm\nthat the id exists.\n",
        "operationId": "switchWorkspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/members": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List a workspace's members",
        "description": "Each member carries a `role` and a `permissions` object of one level per resource — none,\nview or edit for `pages`, `campaigns`, `abTests`, `domains` and `conversions`.\n\nAn `owner` or `admin` holds every level whatever the object says. For a `member`, a key that\nis missing or unrecognised falls back to view rather than none — so a permissions object\nin the wrong shape grants reads, never writes.\n",
        "operationId": "listMembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceMemberResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/leave": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Leave a workspace",
        "description": "For a member removing themselves, which needs no owner's involvement.\n",
        "operationId": "leaveWorkspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Left."
          },
          "409": {
            "description": "The caller is the last owner. A workspace with nobody in charge could never be administered again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Conflict": {
                    "$ref": "#/components/examples/Conflict"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/invites": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List pending invitations",
        "description": "Only the hash of each token is stored, so no token appears here.\n",
        "operationId": "listInvites",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceInviteResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Invite an email address",
        "description": "**The response carries the plaintext token, and it is the only time it exists** — the row\nstores a hash. Send the `url` to the invitee.\n\nNote the shape: this answers `inviteId` rather than `id`, because it is a token response\nrather than the invitation resource.\n",
        "operationId": "createInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceInviteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The invitation, with its one-time token and URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInviteTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, carries a field the endpoint does not accept, or fails validation. The error names the field when one is at fault.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "$ref": "#/components/examples/ValidationError"
                  }
                }
              }
            }
          },
          "415": {
            "description": "The Content-Type is not application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "UnsupportedMediaType": {
                    "$ref": "#/components/examples/UnsupportedMediaType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/invites/{inviteId}/link": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Re-issue an invitation's token",
        "description": "For a token that was lost. It replaces the previous one, which stops working.\n",
        "operationId": "createInviteLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInviteTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/invites/accept": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Accept an invitation",
        "description": "Called by the invited account with the token from the invitation. Single-use: accepting again\nis a 409, since the caller has just proved they hold the token and there is nothing to hide.\n",
        "operationId": "acceptInvite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptWorkspaceInviteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "No invitation matches that token, or it has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          },
          "409": {
            "description": "The invitation has already been accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Conflict": {
                    "$ref": "#/components/examples/Conflict"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Accepted; the new membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMemberResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, carries a field the endpoint does not accept, or fails validation. The error names the field when one is at fault.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "$ref": "#/components/examples/ValidationError"
                  }
                }
              }
            }
          },
          "415": {
            "description": "The Content-Type is not application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "UnsupportedMediaType": {
                    "$ref": "#/components/examples/UnsupportedMediaType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates",
        "description": "Platform-wide, so every account sees the same catalogue. Inactive templates are excluded.\n",
        "operationId": "listTemplates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseTemplateResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List tags",
        "description": "Scoped to the caller's active workspace.\n",
        "operationId": "listTags",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseTagResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create a tag",
        "description": "`color` is a label for the app's UI; a default is applied when it is omitted.\n",
        "operationId": "createTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new tag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, carries a field the endpoint does not accept, or fails validation. The error names the field when one is at fault.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "$ref": "#/components/examples/ValidationError"
                  }
                }
              }
            }
          },
          "415": {
            "description": "The Content-Type is not application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "UnsupportedMediaType": {
                    "$ref": "#/components/examples/UnsupportedMediaType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plans",
        "description": "Readable by any caller: a client needs to know what an upgrade would give them.\n",
        "operationId": "listPlans",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponsePlanResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "List pages",
        "description": "Scoped to the caller's **active** workspace — not to every workspace the account owns.\nSwitching workspace is how you reach the rest. Staff see every account's pages.\n\n`search` matches the name, case-insensitively. `sortBy` accepts any field of the response;\nthe ordering is the database's collation, in which uppercase sorts before lowercase.\n",
        "operationId": "listPages",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponsePageResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Create a page",
        "description": "Creates the published row and a matching draft, so the page can be edited or published\nstraight away. It always starts unpublished.\n\n`settings.version` is stamped `\"2\"` if absent, and an explicit version other than `\"2\"` is\nrefused rather than upgraded: the edge renders only V2, so a V1 page could never be served.\nThe `slug` is validated, never rewritten — `My Page!` is a 400, not `my-page`.\n\nContent shape, sub-pages, navigation and delayed reveals are documented in\n`docs/support/BUILDER.md`.\n",
        "operationId": "createPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created, unpublished, with a draft behind it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "207": {
            "description": "Created, but one or more images could not be re-hosted onto object storage. The page is saved and those URLs are left pointing at their origin; see `imageRehosting` in the body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The account is at its plan's page limit (`error.field` is `max_pages`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "QuotaExceeded": {
                    "$ref": "#/components/examples/QuotaExceeded"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, carries a field the endpoint does not accept, or fails validation. The error names the field when one is at fault.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "$ref": "#/components/examples/ValidationError"
                  }
                }
              }
            }
          },
          "415": {
            "description": "The Content-Type is not application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "UnsupportedMediaType": {
                    "$ref": "#/components/examples/UnsupportedMediaType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages/{id}/rollback": {
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Discard the draft",
        "description": "Resets the draft to the published content, throwing away unpublished edits. The inverse of\npublish, and it only undoes edits that were never published — once something is published,\na backup is the only way back.\n",
        "operationId": "rollbackPage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "The page has never been published, so there is nothing to roll back to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Conflict": {
                    "$ref": "#/components/examples/Conflict"
                  }
                }
              }
            }
          },
          "200": {
            "description": "The page, with its draft reset to the published content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages/{id}/publish": {
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Publish the draft",
        "description": "Promotes the draft to the published row, which is what the edge serves. Repeatable.\n\nTwo things happen beyond the copy, so the published HTML is deliberately not byte-identical\nto the draft:\n\n1. Elements carrying `data-external-url` are wrapped in a real `<a href>` with\n   `display:contents`. Tracking scripts that append an id look for `href`, and a `div`\n   cannot carry one. The draft keeps the attribute, because the editor needs it.\n2. Every campaign serving this page has its status recomputed. Publishing the last\n   unpublished page is what moves a campaign from pending to ok. A campaign a billing\n   job has blocked is left alone.\n\nPublishing also evicts the page from every visitor-facing cache. When the platform has\na cache to report on, the response carries `propagation`: `complete` means visitors\nget the new version now; `pending` (with a 207) means one cache has not confirmed yet,\nthe eviction is being retried on its own, and `retryAfterSeconds` bounds how long the\nprevious version may still be seen. Nothing needs redoing in either case.\n",
        "operationId": "publishPage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "The page has no draft to publish, or the draft has no name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Conflict": {
                    "$ref": "#/components/examples/Conflict"
                  }
                }
              }
            }
          },
          "200": {
            "description": "The page as published, with the external links rewritten. When the response carries `propagation`, its status is `complete`: every visitor-facing cache has the new version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "207": {
            "description": "Published, but not every visitor-facing cache has acknowledged the new version yet. `propagation.status` is `pending` and `propagation.retryAfterSeconds` bounds how long the previous version may still be served; the eviction is retried without any further call. Nothing is lost and nothing needs redoing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages/{id}/backup": {
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Copy the page into a new one",
        "description": "A snapshot to keep. The copy takes the **draft** content, which is usually the work worth\nprotecting, and is named `<original> (backup YYYY-MM-DD HH:mm)` with a matching slug.\n\nThe copy belongs to **the caller**, not to the source's owner, and starts unpublished with\nno folder and no share code. So staff backing up a customer's page get it in their own\npages and the customer's is untouched — nothing here writes to the source.\n",
        "operationId": "backupPage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The new page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "422": {
            "description": "The caller is at their plan's page limit; a backup is a new page and does not bypass it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "QuotaExceeded": {
                    "$ref": "#/components/examples/QuotaExceeded"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or one the caller cannot reach. The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "NotFound": {
                    "$ref": "#/components/examples/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "List folders",
        "description": "Scoped to the caller's active workspace. Nesting is via `parentId`.\n",
        "operationId": "listFolders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseFolderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a folder",
        "description": "`parentId` nests it under another. Folders organise the page list and nothing more.\n",
        "operationId": "createFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The body is malformed, carries a field the endpoint does not accept, or fails validation. The error names the field when one is at fault.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "$ref": "#/components/examples/ValidationError"
                  }
                }
              }
            }
          },
          "415": {
            "description": "The Content-Type is not application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "UnsupportedMediaType": {
                    "$ref": "#/components/examples/UnsupportedMediaType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains",
        "description": "Scoped to the caller's active workspace. `search` matches the hostname.\n",
        "operationId": "listDomains",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseDomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "$ref": "#/components/examples/RateLimited"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "InternalError": {
                    "$ref": "#/components/examples/InternalError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Add a domain",
        "description": "Starts at pending: nothing serves on it until DNS is verified. Nothing is registered\nanywhere else, so this is a cheap operation that can be undone.\n\nThe hostname is trimmed and lowercased, because DNS is case-insensitive and the edge\nlowercases — storing it as typed would allow two rows for one host. Hostnames the platform\nitself uses are refused: one that resolves to our own edge would verify ok on the strength\nof our infrastructure.\n",
        "operationId": "createDomain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new domain, pending verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResponse"
                }
              }
            }
          },
          "409": {
            "description": "Another account already registered that hostname.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Conflict": {
                    "$ref": "#/components/examples/Conflict"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The account is at its plan's domain limit (`error.field` is `max_domains`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "QuotaExceeded": {
                    "$ref": "#/components/examples/QuotaExceeded"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No API key, an unknown or revoked key, or an invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "$ref": "#/components/examples/Unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key's role does not permit this, the caller lacks the level this workspace resource requires, the account's subscription is inactive (SUBSCRIPTION_INACTIVE), or the API is in maintenance mode (MAINTENANCE_MODE). The three are told apart by the code, not by the status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "$ref": "#/components/examples/Forbidden"
                  },
                  "SubscriptionInactive": {
                    "$ref": "#/components/examples/SubscriptionInactive"
                  },
                  "MaintenanceMode": {
                    "$ref": "#/components/examples/MaintenanceMode"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour the Retry-After header; the retryAfter field carries the same value in seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
[...]
